.single-note {
  display: flex;
  column-gap: 2rem;
  margin-right: 1rem;
  transition: all 0.3s ease;
}

.single-note-container {
  flex-grow: 1;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}

.single-note-header > h1 {
  margin: 0;
}

.single-note-header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.single-note-metadata {
  display: flex;
  column-gap: 2rem;
  margin-top: -1rem;
}

.single-note-content {
  display: flex;
  justify-content: space-around;
}

.single-note-headings {
  display: flex;
  gap: 1rem;
  transition: transform 0.3s ease;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

.single-note-input {
  flex-grow: 1;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  border: var(--primary) 1px solid;
  border-radius: 0.25rem;
  padding: 0.25rem;
  transition: border-color 0.3s ease;
}

.single-note-heading {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--primary);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.single-note-heading-active {
  background-color: var(--dark);
  color: var(--primary);
  transform: scale(1.05);
  cursor: default;
}

.single-note-output {
  flex-grow: 1;
  font-family: Verdana, 'Trebuchet MS', Tahoma, sans-serif;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.sync {
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.sync:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}
